* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 4.2vmin;
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
}


html {
    width: 100vw;
    height: 100vh;
}


body {
    width: 100%;
    height: 100%;
}


body>.calculator-panel {
    height: 80%; /*Of body*/
    min-height: 350px; /*If window too small, don't squeeze out buttons*/
    aspect-ratio: 4/7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}


.calculator-panel>.output {
    height: calc(2/7*100%); /*Of .calculator panel*/
    flex: 1 1 auto;
}


.calculator-panel>.buttons {
    display: flex;
    height: calc(5/7*100%);
    flex: 1 1 auto; /*Auto, always keep 2:5 ratio*/
    flex-direction: column;
    gap: 2.5%;
}


.calculator-panel>.buttons>div {
    flex: 1 1 0; /*Always occupy as much as possible, same sizes*/
    display: flex;
    justify-content: space-between;
}


.calculator-panel>.buttons>div>button,
.calculator-panel>.buttons>div>.fifth-row-second>button {
    aspect-ratio: 1/1;
    border-radius: 50%; /*Circular buttons*/
}


/*Special styling for last row*/
.button1to2 {
    width: 100%;
    border-radius: 999px; /*Want pill shape, don't use percentage*/
    height: 100%;
}


.calculator-panel>.buttons>div.fifth-row {
    gap: calc(32vh/21); /*Determined by finding the gaps of other rows*/
}


.calculator-panel>.buttons>div.fifth-row>div {
    flex: 1 1 0;
}


.calculator-panel>.buttons>div.fifth-row>.fifth-row-second {
    display: flex;
    justify-content: space-between;
}


.color1 {
    background-color: #a5a5a5;
}


.color2 {
    background-color: #f1a33b;
    color: #ffffff;
}


.color3 {
    background-color: #333333;
    color: #ffffff;
}

