* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}


html,
body {
    margin: 0;
    padding: 0;
}


html {
    width: 100vw;
    height: 100vh;
}


body {
    width: 100%;
    height: 100%;
    border: solid blue 3px;
}


body>.calculator-panel {
    height: 75%; /*Of body*/
    min-height: 350px; /*If window too small, don't squeeze out buttons*/
    aspect-ratio: 1/1.5;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: solid green 3px;
}


.calculator-panel>.output {
    height: 30%; /*Of .calculator panel*/
    flex: 1 1 auto;
    border: solid red 3px;
    background-color: aqua;
}


.calculator-panel>.buttons {
    display: flex;
    height: 70%;
    flex: 1 1 auto; /*Auto, keep the 30%-to-70% ratio*/
    flex-direction: column;
    border: solid blue 3px;
}


.calculator-panel>.buttons>div {
    flex: 1 1 0; /*Always fill the whole buttons box fully, same sizes*/
    display: flex;
    justify-content: space-between;
    border: solid red 3px;
}


.calculator-panel>.buttons>div>button,
.calculator-panel>.buttons>div>.fifth-row-second>button {
    aspect-ratio: 1/1;
    border-radius: 50%; /*Circular buttons*/
}


/*Special styling for last row*/
.button1to2 {
    width: 100%;
    border-radius: 999px; /*Want pill shape, don't use percentage*/
    height: 100%;
}


.calculator-panel>.buttons>div.fifth-row {
    gap: calc(18.5vh/6);
}


.calculator-panel>.buttons>div.fifth-row>div {
    border: solid rebeccapurple 1px;
    flex: 1 1 0;
}


.calculator-panel>.buttons>div.fifth-row>.fifth-row-second {
    display: flex;
    justify-content: space-between;
}



